.DS_Store
.idea/
__pycache__/
*.pyc
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.env
.local/
supabase/.temp/
supabase/.branches/
android/.gradle/
android/local.properties
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
android/key.properties
*.jks
*.keystore

# Localizaciones generadas por gen-l10n
lib/l10n/app_localizations*.dart
